@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Typography */
html { 
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif; 
    font-size: 18px; }

h1 { 
    color:var(--dark-blue);
    padding-top: 10px;
    font-size: 60px; }

p {
    font-family: 'Barlow', sans-serif;
    text-transform: none; 
    padding-bottom: 30px;
    max-width: 300px; }

/* Main Stylings */
:root { 
    --dark-blue: hsl(230, 29%, 20%);
    --dark-grayish-blue: hsl(230, 11%, 40%);
    --grayish-blue: hsl(231, 7%, 65%);
    --light-grayish-blue: hsl(207, 33%, 95%);
}

body { overflow-x: hidden; }

body::after {
    content: '';
    background-color: var(--light-grayish-blue);
    position: absolute;
    top: 0; right: 0;
    z-index: -1;
    height: 450px; width: 55vw;
    border-bottom-left-radius: 100px;
}

main { margin-top: 50px; }

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 100px;
}

/* Navbar */
.navbar { 
    padding: 0px 100px;  
    margin: 40px 0; }

.navbar__links { 
    width: 300px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-weight: 700;
}

.navbar__links li { color: var(--dark-blue); }
.navbar__links li:last-of-type { color: var(--grayish-blue); }

a { 
    text-decoration: none; 
    color: inherit; }
a:hover { text-decoration: underline; }

.circle {
    height: 8px; width: 8px;
    border: none;
    border-radius: 50%;
    background-color: var(--grayish-blue);
    opacity: 0.5;
    transform: translateY(80%);
}

/* Mobile Navigation Styling */
.mobile__nav { 
    display: none;
    border: none;
    background-color: transparent;
    z-index: 3;
    cursor: pointer;    
}
.mobile__nav:focus { outline: none; }

.show .navbar__links { transform: translateX(0); }

/* Main Content */
.main__content,
.img__container { max-width: 47vw; }

.new {
    background-color: var(--dark-blue);
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 3px 7px;
    margin-right: 15px;
}

small { 
    color: var(--dark-grayish-blue);
    letter-spacing: 2px; }

/* Button */
.btn {
    background-color: hsl(0, 100%, 68%);
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer; }
.btn:focus { outline: none; }
.btn:hover { opacity: 0.7; }
    
/* Big Image */
.img__container {  
    position: fixed;
    right: 0;
}
.devices__img { 
    height: 325px; width: 672px; 
    transform: translateX(8%);
    }

/* MQs */
@media screen and (min-width: 2100px) {
    .main__content { padding-left: 300px; }
    .navbar { padding: 0 400px; }
}

@media screen and (max-width: 942px) {
    .container { padding-left: 50px; }
    .navbar { padding: 0px 50px; }
}

@media screen and (max-width: 800px) { 
    body::after { height: 350px; width: 80vw; }

    .container { 
        flex-direction: column-reverse;
        align-items: start;
    }

    .navbar { flex-direction: row; }
    .navbar__links { 
        background-color: #fff;
        position: absolute;
        z-index: 2;
        flex-direction: column;
        padding-top: 25px;
        top: 100px; left: 20px;
        width: calc(100% - 40px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transform: translateX(-120%);
        transition: transform 0.8s ease;
    }

    .navbar__links li {
        margin-bottom: 20px;
        text-align: center;
        letter-spacing: 2px;
    }
    .navbar__links li:last-of-type { padding-top: 15px; }

    .circle {
        border-radius: 0%;
        height: 1px; width: 80%;
        align-self: center;
    }

    .mobile__nav { display: block; }

    .hamburger { display: block; }
    .show .hamburger { display: none; }

    .close__out { display: none; }
    .show .close__out { display: block; }

    .main__content,
    .img__container { max-width: 85vw; }

    .main__content { 
        position: absolute;
        top: 500px;
        margin-bottom: 30px; }

    p { max-width: 100%; }

    .img__container {
        position: absolute;
        top: 70px;
        padding: 30px 0;
        overflow: hidden; }

    .devices__img { 
        height: 371px; width: 768px; 
        transform: translateX(10%);
    }
}

@media screen and (max-width: 600px) {
    .devices__img { height: 278px; width: 576px; }
    .main__content { top: 420px; }
}

@media screen and (max-width: 425px) {
    h1 { font-size: 45px; }
    .container { padding-left: 20px; }
    .logo { height: 25px; width: 25px; }
    .btn { 
        margin-right: 10px;
        padding: 8px 20px;
    }

    .main__content { top: 350px; }
    .main__content small:last-of-type { font-size: 13px; }

    .devices__img { 
        height: 209px; width: 432px;
        transform: translateX(0); }
    }